name: Tests
run-name: Run Tests

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-hardware-no-flash:
    name: Run Hardware Tests Without Flashing (${{ matrix.runner }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - tt-ubuntu-2204-n150-stable
          - tt-ubuntu-2204-p150b-stable

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: tenstorrent/tt-firmware
          path: tt-firmware

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[test]"

      - name: Run hardware tests that don't perform flash
        run: |
          pytest tests/ -v -m requires_hardware -m "not flash" --fwbundle tt-firmware/latest.fwbundle
